---
// CareerPage.astro
import Layout from '~/layouts/PageLayout.astro';
import Banner from '~/components/widgets/Banner.astro';
import JobOpening from '~/components/widgets/JobOpening.astro';

import { environmentConfig } from '~/config';
import BenefitsEN from '~/components/widgets/BenefitsEN.astro';
import WorkingStyleEN from '~/components/widgets/WorkingStyleEN.astro';

const careerImage = `${environmentConfig.baseImageUrl}/images/career.webp`;
---

<Layout metadata={{ title: 'Join Us' }}>
  <div class="pt-16">
  <Banner careerImage={careerImage} />
  </div>
  <JobOpening />
  <BenefitsEN />
  <WorkingStyleEN />
</Layout>
