---
// JobOpening.astro
import Image from '~/components/common/Image.astro';

const { careerJob } = Astro.props;
---

<section id="apply" class="py-16 bg-white">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-semibold text-center mb-8">ตำแหน่งงานที่เปิดรับ</h2>
    <div class="max-w-sm mx-auto bg-gray-100 p-6 rounded-lg shadow-md">
      <Image 
        src={careerJob}
        alt="Software Engineer" 
        class="w-full h-auto rounded-t-lg mb-4"
      />
      <div class="text-center">
        <!-- <h3 class="text-xl font-bold mb-4">Automate Tester</h3> -->
        <p class="text-lg mb-4">สนใจสมัครงาน ส่ง Resume ได้ที่ <br> hr@tt-ss.net</p>
        <!-- <a href="https://forms.gle/GZoYGZthGoKsgkrf8" class="bg-primary px-6 py-3 rounded-md text-lg font-semibold text-white transition">
         สมัครงาน
        </a> -->
      </div>
    </div>
  </div>
</section>
