---
import Headline from '../ui/Headline.astro';
import OurWorks from './OurWorks.astro';
---

<div class="max-w-7xl mx-auto">
  <Headline
    title="Everything in One Place: Empower Your Business with Advanced Analytics"
    subtitle="เทคโนโลยีที่ถูกพัฒนามาเพื่อใช้งานง่าย ยืดหยุ่น แสดงผลได้ครบทุกอุปกรณ์ พร้อมแดชบอร์ดอัจฉริยะที่ช่วยวิเคราะห์ข้อมูลเชิงลึก\nปรับแต่งได้ตามความต้องการ เพื่อขับเคลื่อนกลยุทธ์การตลาดและเพิ่มประสิทธิภาพธุรกิจของคุณ"
  />

  <div class="carousel-container">
    <div class="carousel flex">
      <div class="slide flex justify-center items-start md:items-center ">
        <OurWorks
          isReversed
          items={[
            {
              title: 'Comprehensive dashboard views',
              description: 'ดูภาพรวมประสิทธิภาพธุรกิจของคุณบนอุปกรณ์หลากหลาย ตั้งแต่สมาร์ทโฟนจนถึงเดสก์ท็อป',
            },
            {
              title: 'Real-time data updates',
              description: 'ติดตามตัวชี้วัดทางธุรกิจของคุณด้วยข้อมูลแบบเรียลไทม์และการอัปเดตทันที',
            },
            {
              title: 'Customizable widgets',
              description: 'ปรับแต่ง dashboard ให้เน้น KPI ที่สำคัญที่สุดสำหรับธุรกิจของคุณ',
            },
          ]}
          image={{
            src: '~/assets/images/new-monitor.webp',
            alt: 'Everything in One Place',
          }}
        >
          <Fragment slot="bg">
            <div class="absolute inset-0 bg-[#FFF6F4] dark:bg-transparent"></div>
          </Fragment>
          <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Everything in One Place</h3>
          </Fragment>
        </OurWorks>
      </div>
      <div class="slide flex justify-center items-start md:items-center">
        <OurWorks
          isReversed
          items={[
            {
              title: 'Data visualization',
              description: `แปลงข้อมูลที่ซับซ้อนให้เป็นแผนภูมิ กราฟ และอินโฟกราฟิกที่เข้าใจง่าย`,
            },
            {
              title: 'Predictive analytics',
              description: 'ใช้อัลกอริทึมการเรียนรู้ของเครื่องเพื่อคาดการณ์แนวโน้มและตัดสินใจโดยอิงจากข้อมูล',
            },
            {
              title: 'Custom reporting',
              description: 'สร้างรายงานโดยละเอียดที่ปรับแต่งตามความต้องการเฉพาะของธุรกิจและผู้มีส่วนได้ส่วนเสียของคุณ',
            },
            {
              title: 'Multi-source data integration',
              description: 'รวมข้อมูลจากแหล่งต่างๆ เพื่อมุมมองที่ครอบคลุมของระบบนิเวศทางธุรกิจของคุณ',
            },
          ]}
          image={{
            src: '~/assets/images/mockup-use-tablet.webp',
            alt: 'Empower Your Business',
            class: 'mx-auto w-full !object-contain max-h-96 lg:max-h-full',
          }}
        >
          <Fragment slot="bg">
            <div class="absolute inset-0 bg-[#FFF6F4] dark:bg-transparent"></div>
          </Fragment>
          <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
              Empower Your Business with Advanced Analytics
            </h3>
          </Fragment>
        </OurWorks>
      </div>
      <div class="slide flex justify-center items-start md:items-center">
        <OurWorks
          imageContainerClasses="mt-0"
          isReversed
          items={[
            {
              title: 'Customizable conversation flows',
              description: 'ออกแบบและปรับแต่งลำดับการสนทนาได้ตามต้องการ รองรับ use cases ที่หลากหลายของธุรกิจ',
            },
            {
              title: 'Multi-platform support',
              description:
                'รองรับการทำงานบนหลากหลายแพลตฟอร์ม ทั้ง web, mobile และ desktop applications ด้วยมาตรฐานเดียวกัน',
            },
            {
              title: 'Continuous learning and improvement',
              description:
                'พัฒนาประสิทธิภาพอย่างต่อเนื่องด้วยระบบการเรียนรู้อัตโนมัติ ปรับปรุงการตอบสนอง จากข้อมูลจริง',
            },
            {
              title: 'Analytics and insights dashboard',
              description:
                'วิเคราะห์และพัฒนาอย่างต่อเนื่อง มาพร้อมแดชบอร์ดวิเคราะห์ข้อมูลเชิงลึก ช่วยให้คุณเข้าใจพฤติกรรมลูกค้าและปรับปรุง chatbot ให้ฉลาดขึ้นเรื่อยๆ',
            },
          ]}
          image={{
            src: '~/assets/images/chatbot.webp',
            alt: 'Everything in One Place',
            class: 'mx-auto w-full !object-contain max-h-96 lg:max-h-full',
          }}
        >
          <Fragment slot="bg">
            <div class="absolute inset-0 bg-[#FFF6F4] dark:bg-transparent"></div>
          </Fragment>
          <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
              Custom AI Chatbot Development to Elevate Your Business
            </h3>
          </Fragment>
        </OurWorks>
      </div>
    </div>
    <button class="prev" aria-label="Previous slide">&#10094;</button>
    <button class="next" aria-label="Next slide">&#10095;</button>
  </div>
</div>
<style>
  .carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  .carousel {
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    flex: 0 0 100%;
    position: relative;
  }

  section {
    height: 100%;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  @media (max-width: 768px) {
    .slide-content {
      bottom: 10px;
      left: 10px;
      font-size: 0.8em;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const carousel = document.querySelector('.carousel');
    const slides = document.querySelectorAll('.slide');
    const prevBtn = document.querySelector('.prev');
    const nextBtn = document.querySelector('.next');
    function showSlide(index) {
      if (index < 0) index = slides.length - 1;
      if (index >= slides.length) index = 0;
      if (carousel instanceof HTMLElement) {
        carousel.style.transform = `translateX(-${index * 100}%)`;
      }
      currentIndex = index;
    }

    prevBtn?.addEventListener('click', () => showSlide(currentIndex - 1));
    nextBtn?.addEventListener('click', () => showSlide(currentIndex + 1));

    let currentIndex = 0;
    // setInterval(() => showSlide(currentIndex + 1), 5000);
  });
</script>
