---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';
import FacebookIcon from '~/components/icons/FacebookIcon.astro';
import LineIcon from '~/components/icons/LineIcon.astro';
import FormContract from '~/components/widgets/FormContract.astro';
import Hero from '~/components/widgets/Hero.astro';
import { environmentConfig } from '~/config';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'T.T. Software Solution — ที.ที. ซอฟแวร์ โซลูชั่น',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="T.T. Software Solution"
    bg={`${environmentConfig.baseImageUrl}/images/hero-bg-shape.webp`}
    overrideClass="pt-20 !py-0 !lg:py-0"
  >
    <Fragment slot="title">
      We are Software Solution Expert<br />made by MVP Technical Team
    </Fragment>
    <Fragment slot="subtitle">
      เราคือผู้นำด้าน Microsoft Technology ในประเทศไทย<br />พัฒนาโซลูชันธุรกิจด้วย ASP.NET, Azure และ C# โดยทีม MVP
      และผู้เชี่ยวชาญ
    </Fragment>
    <Fragment slot="contact">
      <div class="flex flex-col sm:flex-row flex-wrap gap-4 justify-center mb-8 text-muted content-center">
        <div class="col-span-1">
          <span>สนใจติดต่อ</span>
        </div>
        <a href="tel:0901619166" target="_blank">
          <div class="flex items-center gap-2 w-fit">
            <Icon name="phone" />
            <span>090-161-9166 (สำนักงานกรุงเทพ)</span>
          </div>
        </a>
        <a href="mailto:watcharapong@tt-ss.net" target="_blank">
          <div class="flex items-center gap-2 w-fit">
            <Icon name="envelope" />
            <span>watcharapong@tt-ss.net</span>
          </div>
        </a>
        <a href="https://www.facebook.com/ttsoftwaresolution" target="_blank">
          <div class="flex items-center gap-2 w-fit">
            {/* <Icon name="facebook" /> */}
            <FacebookIcon width="1em" height="1em" />
            <span>T. T. Software Solution</span>
          </div>
        </a>
        <a href="https://line.me/R/ti/p/@ttss" target="_blank">
          <div class="flex items-center gap-2 w-fit">
            {/* <Icon name="line" /> */}
            <LineIcon width="1em" height="1em" />
            <span>@ttss</span>
          </div>
        </a>
      </div>
    </Fragment>
  </Hero>
  <Image src="~/assets/images/main_full.webp" alt="Main Full Services" class="w-full p-4 md:p-8 !max-w-screen-xl mx-auto" />
  <FormContract />
</Layout>
