---
import { Icon } from 'astro-icon/components';
import FacebookIcon from '~/components/icons/FacebookIcon.astro';
import LineIcon from '~/components/icons/LineIcon.astro';
import Hero from '~/components/widgets/Hero.astro';
import ImageBentoGrid from '~/components/widgets/ImageBentoGrid.astro';
import OurPartner from '~/components/widgets/OurPartner.astro';
import OurServices from '~/components/widgets/OurServices.astro';
import OurWorks from '~/components/widgets/OurWorks.astro';
import Steps from '~/components/widgets/Steps.astro';
import Technologies from '~/components/widgets/Technologies.astro';
import WorkEnvironment from '~/components/widgets/WorkEnvironment.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'T.T. Software Solution — ที.ที. ซอฟแวร์ โซลูชั่น',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="T.T. Software Solution"
    actions={[
      {
        variant: 'primary',
        text: 'บริการของเรา',
        href: '/services',
      },
      { text: 'ติดต่อเรา', href: '/contact' },
    ]}
    bg="~/assets/images/hero-bg-shape.jpeg"
  >
    <Fragment slot="title">
      We are Software Solution Expert<br />made by MVP Technical Team
    </Fragment>
    <Fragment slot="subtitle">
      เราคือผู้นำด้าน Microsoft Technology ในประเทศไทย<br />พัฒนาโซลูชันธุรกิจด้วย ASP.NET, Azure และ C# โดยทีม MVP
      และผู้เชี่ยวชาญ
    </Fragment>
    <Fragment slot="contact">
      <div class="flex flex-col sm:flex-row flex-wrap gap-4 justify-center mb-8 text-muted content-center">
        <div class="col-span-1">
          <span>สนใจติดต่อ</span>
        </div>
        <a href="tel:0868996243" target="_blank">
          <div class="flex items-center gap-2 w-fit">
            <Icon name="phone" />
            <span>086-899-6243 (สำนักงานกรุงเทพ)</span>
          </div>
        </a>
        <a href="mailto:nakorn@tt-ss.net" target="_blank">
          <div class="flex items-center gap-2 w-fit">
            <Icon name="envelope" />
            <span>nakorn@tt-ss.net</span>
          </div>
        </a>
        <a href="https://www.facebook.com/ttsoftwaresolution" target="_blank">
          <div class="flex items-center gap-2 w-fit">
            {/* <Icon name="facebook" /> */}
            <FacebookIcon width="1em" height="1em" />
            <span>T. T. Software Solution</span>
          </div>
        </a>
        <a href="https://line.me/R/ti/p/@ttss" target="_blank">
          <div class="flex items-center gap-2 w-fit">
            {/* <Icon name="line" /> */}
            <LineIcon width="1em" height="1em" />
            <span>@ttss</span>
          </div>
        </a>
      </div>
    </Fragment>
  </Hero>

  <!-- ImageBentoGrid Widget ******************* -->

  <ImageBentoGrid
    images={[
      {
        url: '~/assets/images/bento-primary.webp',
        class: {
          container: 'col-span-3 md:col-span-2',
        },
      },
      { url: '~/assets/images/bento-secondary.webp' },
      { url: '~/assets/images/bento-third.webp' },
    ]}
  />

  <!-- OurServices Widget ******************* -->

  <OurServices
    tagline="บริการของเรา"
    id="ourServices"
    title="Our Services"
    subtitle="โซลูชันเทคโนโลยีที่ครบวงจร พัฒนาระบบตามความต้องการของธุรกิจคุณ"
    classes={{
      headline: {
        container: 'mx-auto',
      },
    }}
    items={[
      {
        title: 'Back Office Web Application Service',
        description:
          'บริการพัฒนาแอปพลิเคชันเว็บสำหรับระบบหลังบ้าน ช่วยจัดการงานภายในองค์กร อย่างมีประสิทธิภาพ เช่น ระบบบัญชี การจัดการลูกค้า และการบริหารทรัพยากร ออกแบบให้เหมาะสมกับกระบวนการทำงานเฉพาะของแต่ละธุรกิจ',
        icon: '~/assets/images/web-development.svg',
      },
      {
        title: 'Azure Cloud by Professtional',
        description:
          'บริการให้คำปรึกษาและพัฒนาโซลูชันบนคลาวด์ Azure โดยผู้เชี่ยวชาญ ช่วยองค์กร ในการย้ายระบบสู่คลาวด์ จัดการทรัพยากรไอทีและเพิ่มความปลอดภัยให้กับข้อมูลสำคัญ',
        icon: '~/assets/images/cloud.svg',
      },
      {
        title: 'Responsive Web Design Service',
        description:
          'บริการออกแบบเว็บไซต์ที่รองรับการแสดงผลบนทุกอุปกรณ์ ทั้งคอมพิวเตอร์ แท็บเล็ต และสมาร์ทโฟน สร้างประสบการณ์การใช้งานที่ดีให้กับผู้ใช้ พร้อมเพิ่มโอกาสทางธุรกิจ ด้วยการเข้าถึงกลุ่มเป้าหมายได้กว้างขึ้น',
        icon: '~/assets/images/responsive-web.svg',
      },
      {
        title: 'Training and Skills Development',
        description:
          'บริการฝึกอบรมและพัฒนาทักษะด้านไอทีสำหรับบุคลากรในองค์กร ครอบคลุมหลักสูตร ที่เกี่ยวข้องกับเทคโนโลยีล่าสุด เพื่อเพิ่มประสิทธิภาพการทำงานและการใช้งานระบบต่างๆ',
        icon: '~/assets/images/teacher.svg',
      },
      {
        title: 'Data Visualization Service',
        description:
          'บริการนำเสนอข้อมูลในรูปแบบภาพที่เข้าใจง่าย ช่วยวิเคราะห์และตีความข้อมูลซับซ้อน ได้อย่างมีประสิทธิภาพ เหมาะสำหรับการนำเสนอรายงาน การวิเคราะห์แนวโน้มตลาด และการตัดสินใจทางธุรกิจ',
        icon: '~/assets/images/analysis.svg',
      },
      {
        title: 'Automated Test Service',
        description:
          'บริการพัฒนาและติดตั้งระบบทดสอบอัตโนมัติ ช่วยลดเวลาและค่าใช้จ่ายในการทดสอบ ซอฟต์แวร์ พร้อมเพิ่มความมั่นใจในคุณภาพของผลิตภัณฑ์ก่อนนำไปใช้งานจริง',
        icon: '~/assets/images/tecnique.svg',
      },
    ]}
  />

  <!-- OurWorks Widget **************** -->

  <OurWorks
    classes={{
      container: 'py-0 lg:py-0 pt-12 lg:pt-20',
      headline: {
        title: 'whitespace-pre-line',
        container: 'mb-0 lg:mb-0 max-w-7xl',
      },
    }}
    isReversed
    title="Everything in One Place\nEmpower Your Business with Advanced Analytics"
    subtitle="เทคโนโลยีที่ถูกพัฒนามาเพื่อใช้งานง่าย ยืดหยุ่น แสดงผลได้ครบทุกอุปกรณ์ พร้อมแดชบอร์ดอัจฉริยะที่ช่วยวิเคราะห์ข้อมูลเชิงลึก\nปรับแต่งได้ตามความต้องการ เพื่อขับเคลื่อนกลยุทธ์การตลาดและเพิ่มประสิทธิภาพธุรกิจของคุณ"
    items={[
      {
        title: 'Comprehensive dashboard views',
        description: 'ดูภาพรวมประสิทธิภาพธุรกิจของคุณบนอุปกรณ์หลากหลาย ตั้งแต่สมาร์ทโฟนจนถึงเดสก์ท็อป',
      },
      {
        title: 'Real-time data updates',
        description: 'ติดตามตัวชี้วัดทางธุรกิจของคุณด้วยข้อมูลแบบเรียลไทม์และการอัปเดตทันที',
      },
      {
        title: 'Customizable widgets',
        description: 'ปรับแต่ง dashboard ให้เน้น KPI ที่สำคัญที่สุดสำหรับธุรกิจของคุณ',
      },
    ]}
    image={{
      src: '~/assets/images/monitor.png',
      alt: 'Everything in One Place',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFF6F4] dark:bg-transparent"></div>
    </Fragment>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Everything in One Place</h3>
    </Fragment>
  </OurWorks>

  <!-- OurWorks Widget **************** -->

  <OurWorks
    isAfterContent
    items={[
      {
        title: 'Data visualization',
        description: `แปลงข้อมูลที่ซับซ้อนให้เป็นแผนภูมิ กราฟ และอินโฟกราฟิกที่เข้าใจง่าย`,
      },
      {
        title: 'Predictive analytics',
        description: 'ใช้อัลกอริทึมการเรียนรู้ของเครื่องเพื่อคาดการณ์แนวโน้มและตัดสินใจโดยอิงจากข้อมูล',
      },
      {
        title: 'Custom reporting',
        description: 'สร้างรายงานโดยละเอียดที่ปรับแต่งตามความต้องการเฉพาะของธุรกิจและผู้มีส่วนได้ส่วนเสียของคุณ',
      },
      {
        title: 'Multi-source data integration',
        description: 'รวมข้อมูลจากแหล่งต่างๆ เพื่อมุมมองที่ครอบคลุมของระบบนิเวศทางธุรกิจของคุณ',
      },
    ]}
    image={{
      src: '~/assets/images/monitor.png',
      alt: 'Empower Your Business',
      class: '!aspect-[2] lg:!aspect-[1] mx-auto w-full !object-contain',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFF6F4] dark:bg-transparent"></div>
    </Fragment>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Empower Your Business with Advanced Analytics</h3>
    </Fragment>
  </OurWorks>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Technologies Widget ************** -->

  <Technologies
    title="Technology we use"
    subtitle="เครื่องมือและเทคโนโลยีที่เราใช้เพื่อสร้างโซลูชันที่มีประสิทธิภาพ"
    tagline="เทคโนโลยีที่เราใช้"
    items={[
      {
        description: '.NET',
        icon: '~/assets/images/dotnet.svg',
      },
      {
        description: 'Microsoft Azure',
        icon: '~/assets/images/azure.svg',
        classes: {
          icon: 'mt-[30px]',
        },
      },
      {
        description: 'React',
        icon: '~/assets/images/react.svg',
      },
      {
        description: 'TypeScript',
        icon: '~/assets/images/typescript.svg',
      },
      {
        description: 'Next.js',
        icon: '~/assets/images/nextjs.svg',
      },
      {
        description: 'Docker',
        icon: '~/assets/images/docker.svg',
      },
      {
        description: 'Kubernetes',
        icon: '~/assets/images/kubernetes.svg',
      },
      {
        description: 'Node.js',
        icon: '~/assets/images/nodejs.svg',
      },
      {
        description: 'PostgreSQL',
        icon: '~/assets/images/pgsql.svg',
      },
      {
        description: 'MongoDB',
        icon: '~/assets/images/mongodb.svg',
        classes: {
          icon: 'mt-[30px]',
        },
      },
      {
        description: 'Tailwind CSS',
        icon: '~/assets/images/tailwindcss.svg',
      },
      {
        description: 'Microsoft SQL Server',
        icon: '~/assets/images/microsoft-sql-server.svg',
      },
    ]}
    callToAction1={{ variant: 'secondary', text: 'See All  Technology', href: '/technologies' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFF6F4] dark:bg-transparent"></div>
    </Fragment>
  </Technologies>

  <!-- OurPartner Widget ******* -->

  <OurPartner
    classes={{
      container: 'lg:py-0 lg:pt-20 py-0 pt-12',
    }}
    title="Our Partner"
    subtitle="เราภูมิใจที่ได้เป็นพันธมิตรกับบริษัทเทคโนโลยีชั้นนำและได้รับการรับรองจากองค์กรระดับสากล"
    tagline="พาร์ทเนอร์ของเรา"
    items={[
      {
        icon: '~/assets/images/jumpbox.png',
      },
      {
        icon: '~/assets/images/thaitype.png',
      },
      {
        icon: '~/assets/images/thai-programmer.png',
      },
      {
        icon: '~/assets/images/opsta.png',
      },
    ]}
  />

  <WorkEnvironment
    title="Support Work From Anywhere Happy Environment made better result"
    subtitle="ทำงานจากทุกที่ สนับสนุนการทำงานแบบไร้ขีดจำกัด สร้างสภาพแวดล้อมที่มีความสุข เพิ่มประสิทธิภาพการทำงาน"
    images={[
      { url: '~/assets/images/WorkEnvironment1.webp' },
      { url: '~/assets/images/WorkEnvironment2.webp' },
      { url: '~/assets/images/WorkEnvironment3.webp' },
      { url: '~/assets/images/WorkEnvironment4.webp' },
      { url: '~/assets/images/WorkEnvironment5.webp' },
      { url: '~/assets/images/WorkEnvironment6.webp' },
    ]}
    callToAction1={{ variant: 'secondary', text: 'ดูภาพบรรยากาศการทำงาน', href: 'https://portal.tt-ss.net/work-environment' }}
  />
</Layout>
