---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'T.T. Software Solution — ที.ที. ซอฟแวร์ โซลูชั่น',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
	tagline="T.T. Software Solution"
    title={`We are Software Solution Expert\n made by MVP Technical Team`}
	subtitle={`เราคือผู้นำด้าน Microsoft Technology ในประเทศไทย\n พัฒนาโซลูชันธุรกิจด้วย ASP.NET, Azure และ C# โดยทีม MVP และผู้เชี่ยวชาญ`}
    actions={[
      {
        variant: 'primary',
        text: 'Our Services',
        href: '/services',
        icon: 'tabler:download',
      },
      { text: 'Contact us', href: '/contact' },
    ]}
    bg="~/assets/images/hero-bg-shape.png"
	image=`<Image src="~/assets/images/hero-bg-shape.png" width="1024" height="576" />`
  >
    <Fragment slot="title">
      Free template for <span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment>
  </Hero>
</Layout>
