---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Layout from '~/layouts/PageLayout.astro';
import ProjectGrid from '~/components/widgets/ProjectGrid.astro';

const metadata = {
  title: 'ผลงานของเรา | Our Works',
};

const governmentProjects = [
  {
    title: 'หน่วยงานกรุงเทพมหานคร',
    description: 'ระบบเผยแพร่ข้อมูลจัดซื้อจัดจ้างภาครัฐของหน่วยงานกรุงเทพมหานคร',
    image: '~/assets/images/protal-egp2.webp',
    link: 'https://egp2.bangkok.go.th',
  },
  {
    title: 'อบรมหลักสูตรการใช้งาน ระบบเผยแพร่ข้อมูลการจัดซื้อจัดจ้างภาครัฐของหน่วยงานกรุงเทพมหานคร ระยะที่ 2',
    description:
      'เมื่อวันที่ 18 กรกฎาคม 2567 บริษัทฯได้จัดอบรมหลักสูตรการใช้งาน ระบบเผยแพร่ข้อมูลการจัดซื้อจัดจ้างภาครัฐของหน่วยงานกรุงเทพมหานคร ระยะที่ 2 โดยลุล่วงไปด้วยดี และได้ส่งงานตามกรอบเวลา ซึ่งแสดงให้เห็นถึงศักยภาพของบริษัทฯ ได้เป็นอย่างดี',
    image: '~/assets/images/seminar-egp.webp',
  },
];

const privateProjects = [
  {
    image: '~/assets/images/eventbanana-logo.png',
    imageClass: '!object-contain p-4',
  },
  {
    image: '~/assets/images/easy-insure.webp',
    imageClass: '!object-contain p-4',
  },
  {
    image: '~/assets/images/ap-logo-sm.png',
    imageClass: '!object-contain p-4',
  },
  {
    image: '~/assets/images/cert-event-banana.webp',
    imageClass: '!object-contain p-4 h-fit',
    title: 'หนังสือรับรองจากลูกค้า',
    description:
      'ด้วยการให้บริการที่ดีตลอดมา ลูกค้าจึงได้ออกหนังสือรับรองให้แก่บริษัทฯ เพื่อแสดงให้เห็นถึงความมั่นใจในการรับบริการจากบริษัทฯ',
  },
  {
  image: '~/assets/images/easyinsure.png',
    imageClass: '!object-contain p-4 h-fit',
    title: 'Easyinsure',
    description:
      'โบรกเกอร์ประกันภัยออนไลน์ที่ให้บริการครบวงจร รวดเร็วและสะดวกสบาย สามารถเปรียบเทียบเบี้ยประกันจากหลายบริษัทชั้นนำ พร้อมข้อเสนอที่เหมาะสมที่สุดสำหรับคุณ จ่ายง่าย ได้ความคุ้มครองทันที',
    
  },
  {
  image: '~/assets/images/siamlaw.png',
    imageClass: '!object-contain p-4 h-fit', 
    title: 'Siamlaw Group',
    description:
      'บริษัทกฎหมายที่เชี่ยวชาญด้านกฎหมายธุรกิจและการลงทุน ให้บริการปรึกษาและดำเนินคดีทั่วไทย มั่นใจได้ในคุณภาพ', 
  },
];

const internationalProjects = [
  {
    title: 'WRM STORM Manager & OPS Manager',
    description:
      'ระบบจัดการทรัพยากรในกรณีเกิดเหตุฉุกเฉิน เช่น การซ่อมแซมโครงสร้างพื้นฐานของสาธารณูปโภค (ระบบไฟฟ้า, ระบบจ่ายแก๊ส ฯลฯ) และการดับไฟป่า\nระบบนี้มีความสามารถในการติดตามทรัพยากรทั้งบุคลากรและอุปกรณ์ที่ใช้ในเหตุการณ์ จัดหาอาหารและที่พัก รวมถึงการบริหารจัดการค่าใช้จ่ายสำหรับผู้ให้บริการในสถานการณ์ฉุกเฉิน\nผู้ใช้สามารถอัปเดตข้อมูลการทำงาน ส่งรายงาน และค้นหาเส้นทางไปยังที่พักผ่านแอปพลิเคชันบนมือถือได้อย่างสะดวก ระบบนี้ช่วยให้การดำเนินงานในสถานการณ์ฉุกเฉินเป็นไปอย่างรวดเร็วและมีประสิทธิภาพสูงสุด',
    image: '~/assets/images/storm.webp',
    imageClass: 'md:h-72',
    badgeImage: '~/assets/images/WRM.png',
  },
  {
    title: 'WRM STORM Manager & OPS Manager',
    description:
      'ด้วยการให้บริการที่ดีตลอดมา ลูกค้าจึงได้ออกหนังสือรับรองให้แก่บริษัทฯ เพื่อแสดงให้เห็นถึงความมั่นใจในการรับบริการจากบริษัทฯ',
    image: '~/assets/images/cert_storm.webp',
    imageClass: '!object-contain h-fit md:h-72',
  },
];
---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass='max-w-7xl mx-auto'>
    <Headline
      title="ผลงานของเรา"
      subtitle="ค้นพบโครงการที่น่าตื่นเต้นและสร้างสรรค์ของทีมเรา ทั้งในประเทศและต่างประเทศ"
      classes={{ container: 'pt-12 lg:pt-0' }}
    />

    <section class="mb-12">
      <h2 class="text-3xl font-bold mb-4">ผลงานภายในประเทศ</h2>
      <p class="text-gray-600 mb-6">
        บริษัทฯ ได้มุ่งมั่นพัฒนาคุณภาพการให้บริการ ตั้งแต่อดีตจนถึงปัจจุบัน จนได้รับการยอมรับในวงกว้าง สังเกตุได้จาก
        ลูกค้าในอดีตที่เราเคยพัฒนาระบบให้ ในปัจจุบัน เราก็ได้รับการว่าจ้างให้ปรับปรุงระบบงานเดิมให้ทันสมัย (Upgrade and
        Enhancement) เป็นต้น
      </p>

      <div class="mb-8">
        <h3 class="text-2xl font-semibold mb-4">ภาครัฐ (บางส่วน)</h3>
        <ProjectGrid projects={governmentProjects} classes={{ itemContent: 'flex flex-col justify-between h-full' }} />
      </div>

      <div class="mb-8">
        <h3 class="text-2xl font-semibold mb-4">ภาคเอกชน (บางส่วน)</h3>
        <ProjectGrid
          projects={privateProjects}
          classes={{ itemContent: 'flex flex-col justify-center items-center h-full animate-on-scroll' }}
        />
      </div>
    </section>

    <section>
      <h2 class="text-3xl font-bold mb-6">ผลงานในต่างประเทศ (บางส่วน)</h2>
      <ProjectGrid projects={internationalProjects} classes={{ container: 'gap-4 lg:grid-cols-2', itemContent: 'animate-on-scroll' }} />
    </section>
  </WidgetWrapper>
</Layout>

<script>
  function handleIntersection(entries: IntersectionObserverEntry[]) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
      }
    });
  }

  const observer = new IntersectionObserver(handleIntersection, {
    root: null,
    rootMargin: '0px',
    threshold: 0.1,
  });

  document.addEventListener('astro:page-load', () => {
    const elements = document.querySelectorAll('.animate-on-scroll');
    elements.forEach((el) => observer.observe(el));
  });
</script>
