---
import { twMerge } from 'tailwind-merge';
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'บริการของเรา',
};
---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <Headline
      title="บริการของเรา"
      subtitle="บริการออกแบบและจัดทำ ระบบ Back Office Web Application สำหรับองค์กร"
      classes={{ container: 'pt-12 lg:pt-0 animate-on-scroll' }}
    />

    <!-- Features2 Widget ************** -->

    <Features2
      classes={{
        container: 'lg:py-12 lg:pt-0',
        panel: 'border border-gray-200 dark:border-gray-800',
      }}
      columns={3}
      items={[
        {
          title: 'ระบบ Back Office Web Application',
          description: 'ออกแบบและพัฒนาระบบ Back Office ที่ตรงตามความต้องการเฉพาะขององค์กรคุณ',
          icon: 'tabler:browser',
        },
        {
          title: 'Data Visualization',
          description: 'ออกแบบและพัฒนา Dashboard และการแสดงผลข้อมูลที่ช่วยในการวิเคราะห์และตัดสินใจ',
          icon: 'tabler:chart-pie',
        },
        {
          title: 'บริการ Azure Cloud',
          description: 'ให้คำปรึกษา พัฒนา และดูแลระบบบน Azure Cloud โดยทีมงานมืออาชีพ',
          icon: 'tabler:cloud',
        },
      ]}
    />

    <!-- Content Widget **************** -->

    <Content
      isReversed
      classes={{ container: 'mb-16 animate-on-scroll' }}
      isAfterContent
      items={[
        {
          title: 'การออกแบบที่ปรับแต่งได้เฉพาะตัว',
          description: 'บริษัทฯ ออกแบบระบบฐานข้อมูล และหน้าจอสำหรับ บันทึกข้อมูลตามความต้องการของลูกค้า',
          icon: 'tabler:adjustments',
        },
        {
          title: 'รายงานที่ปรับแต่งได้',
          description: 'ระบบที่จัดทำ สามารถออกรายงานต่างๆ ได้ตรงตามความต้องการของลูกค้า',
          icon: 'tabler:report',
        },
        {
          title: 'การผสานการทำงานกับระบบเดิม และระบบ Login อื่นๆ',
          description:
            'ระบบที่จัดทำ สามารถเชื่อมกับระบบ Login เดิมของลูกค้า เช่น LDAP, Active Directory หรือ Google ก็ได้',
          icon: 'tabler:puzzle',
        },
      ]}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 animate-on-scroll">
          ทำไมต้องเลือกบริการของเรา?
        </h3>
        <div class="text-muted text-base my-2 animate-on-scroll">
          เพราะเราเข้าใจดีว่าการทำงานในแต่ละองค์กรมีความซับซ้อนและแตกต่างกันไป
          การออกแบบระบบที่ไม่เพียงแต่ตรงตามความต้องการแต่ยังช่วยเพิ่มประสิทธิภาพในการดำเนินงานจึงเป็นสิ่งที่สำคัญ
          ด้วยบริการของเรา คุณจะได้ระบบที่ตอบโจทย์
          ช่วยให้การจัดการข้อมูลและการดำเนินงานภายในองค์กรของคุณเป็นเรื่องง่ายขึ้น มีประสิทธิภาพมากขึ้น
          และปลอดภัยยิ่งขึ้น
        </div>
        <p class="animate-on-scroll">
          ให้เราช่วยคุณพัฒนาระบบ Back Office
          ที่จะเป็นเครื่องมือสำคัญในการสนับสนุนการเติบโตและความสำเร็จขององค์กรคุณในยุคดิจิทัลนี้..
        </p>
      </Fragment>
      <Fragment slot="image">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full h-full">
          <Image
            src="~/assets/images/db-design.webp"
            alt="ระบบฐานข้อมูล"
            class="w-full h-72 lg:col-span-2 animate-on-scroll"
            style={`--animation-order: 0;`}
          />
          <Image
            src="~/assets/images/report-design.webp"
            alt="ระบบรายงาน"
            class="w-full h-72 animate-on-scroll"
            style={`--animation-order: 1;`}
          />
          <Image
            src="~/assets/images/login-any.webp"
            alt="ระบบล็อกอิน"
            class="w-full h-72 animate-on-scroll"
            style={`--animation-order: 2;`}
          />
        </div>
      </Fragment>
    </Content>

    <!-- Content Widget **************** -->

    <Content
      classes={{ container: 'mb-16 animate-on-scroll' }}
      isReversed
      isAfterContent
      items={[
        {
          title: 'การออกแบบที่ปรับแต่งได้เฉพาะตัว',
          description:
            'ทุกองค์กรมีวิธีการทำงานและการจัดการข้อมูลที่ไม่เหมือนกัน ซึ่งซอฟต์แวร์ทั่วไปในตลาดอาจไม่สามารถตอบโจทย์ได้ เราจึงออกแบบและพัฒนาระบบที่สร้างขึ้นเพื่อองค์กรของคุณโดยเฉพาะ คุณไม่ต้องเสียเวลาปรับระบบให้เข้ากับวิธีการทำงานของคุณ เพราะเราจะออกแบบระบบที่สอดคล้องกับกระบวนการทำงานขององค์กรคุณได้อย่างลงตัว',
          icon: 'tabler:adjustments',
        },
        {
          title: 'ประสิทธิภาพในการดำเนินงานที่เพิ่มขึ้น',
          description:
            'ระบบของเราช่วยให้การบันทึกข้อมูล การจัดการเอกสาร และการดำเนินงานต่าง ๆ ภายในองค์กรเป็นไปอย่างราบรื่นและรวดเร็วมากยิ่งขึ้น ลดความซับซ้อนและความยุ่งยากในขั้นตอนการทำงานเดิม ๆ ซึ่งไม่เพียงช่วยประหยัดเวลา แต่ยังช่วยลดข้อผิดพลาดที่อาจเกิดขึ้นจากการทำงานด้วยตนเอง',
          icon: 'tabler:chart-arrows',
        },
        {
          title: 'รายงานที่สามารถปรับแต่งได้ตามความต้องการของคุณ',
          description:
            'การที่คุณสามารถเข้าถึงรายงานที่ถูกออกแบบให้ตรงตามความต้องการขององค์กร ช่วยให้คุณได้รับข้อมูลที่ถูกต้องและสำคัญในเวลาที่ต้องการ ไม่ว่าจะเป็นรายงานสำหรับการวิเคราะห์ข้อมูลภายใน การตรวจสอบประสิทธิภาพ หรือการตัดสินใจด้านกลยุทธ์ ระบบของเราสามารถสร้างรายงานที่ปรับแต่งได้ให้ตรงกับสิ่งที่คุณต้องการอย่างแท้จริง',
          icon: 'tabler:report',
        },
        {
          title: 'การผสานการทำงานกับระบบเดิมที่คุณมีอยู่แล้ว',
          description:
            'เราเข้าใจถึงความสำคัญของการเชื่อมต่อระบบใหม่เข้ากับระบบที่คุณใช้อยู่ในปัจจุบัน เช่น ระบบ Login อย่าง LDAP, Active Directory หรือ Google การผสานการทำงานนี้ช่วยให้การเปลี่ยนแปลงระบบภายในองค์กรของคุณเป็นไปอย่างราบรื่น ไม่ต้องเริ่มต้นใหม่ทั้งหมด แต่สามารถใช้ประโยชน์จากโครงสร้างที่มีอยู่แล้วได้อย่างเต็มที่',
          icon: 'tabler:puzzle',
        },
        {
          title: 'ความปลอดภัยและการควบคุมการเข้าถึงที่ง่ายดาย',
          description:
            'การจัดการความปลอดภัยของข้อมูลเป็นเรื่องสำคัญ ระบบของเราจึงออกแบบมาให้สามารถควบคุมการเข้าถึงได้อย่างง่ายดายและปลอดภัย คุณสามารถมั่นใจได้ว่าข้อมูลสำคัญขององค์กรจะได้รับการปกป้องและเข้าถึงได้เฉพาะผู้ที่มีสิทธิ์',
          icon: 'tabler:shield-lock',
        },
        {
          title: 'การสนับสนุนที่มุ่งเน้นความสำเร็จของคุณ',
          description:
            'ทีมงานของเราพร้อมให้การสนับสนุนในทุกขั้นตอน ตั้งแต่การวิเคราะห์ความต้องการ การออกแบบและพัฒนา จนถึงการติดตั้งและดูแลระบบหลังการใช้งาน เรามุ่งมั่นที่จะให้บริการที่ดีที่สุดเพื่อให้คุณมั่นใจว่าระบบที่เราออกแบบและพัฒนาให้นั้นจะช่วยให้องค์กรของคุณประสบความสำเร็จ',
          icon: 'tabler:headset',
        },
      ]}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 animate-on-scroll">
          ประโยชน์ที่คุณจะได้รับจากการใช้บริการของเรา
        </h3>
      </Fragment>
    </Content>

    <!-- Content Widget **************** -->

    <Content
      isReversed
      classes={{ container: 'mb-16 animate-on-scroll' }}
      isAfterContent
      imageContainerClasses="content-center mt-0 md:mt-10"
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 animate-on-scroll">
          บริการออกแบบและจัดทำ <span class="text-primary">Data Visualization</span>
        </h3>
        <p class="animate-on-scroll">
          บริการออกแบบและพัฒนา Data Virtualization ในรูปแบบ Dashboard หรืออื่นๆ
          เพื่อการวิเคราะห์ข้อมูลที่ใช้ในการแสดงภาพการมองเห็นข้อมูล (Data Visualization) ซึ่งรวมถึงแผนภูมิแท่ง,
          แผนภูมิวงกลม, กราฟเส้น และแผนภูมิอื่นๆ ที่หลากหลาย
        </p>
        <p class="animate-on-scroll">
          เพื่อแสดงผลการวิเคราะห์ข้อมูลจำนวนมากในรูปแบบที่เข้าใจง่ายและสามารถปรับใช้ได้กับข้อมูลต่างๆ
          ทั้งนี้เพื่อช่วยให้ผู้ใช้งานสามารถตรวจสอบและตัดสินใจได้อย่างมีข้อมูลเพียงพอ ทุก Virtaulization
          ได้รับการออกแบบมาเพื่อให้ผู้ใช้สามารถค้นหาและกรองข้อมูลตามความต้องการ
          เพื่อให้ง่ายต่อการวิเคราะห์และติดตามประสิทธิภาพต่างๆ ได้อย่างมีประสิทธิภาพ
        </p>
      </Fragment>
      <Fragment slot="image">
        <Image
          src="~/assets/images/data-visualize.webp"
          alt="Data Visualization"
          class="w-full h-full rounded-lg animate-on-scroll"
        />
      </Fragment>
    </Content>
    <!-- Content Widget **************** -->

    <Content
      imageContainerClasses="content-center"
      isReversed
      isAfterContent
      items={[
        {
          title: 'การย้ายระบบไปยัง Azure Cloud',
          description:
            'บริการนี้ช่วยให้ธุรกิจของคุณสามารถย้ายและติดตั้งระบบงานบนพื้นที่คลาวด์ของ Azure ได้อย่างราบรื่นและเหมาะสมที่สุด โดยปรับแต่งให้ตรงตามความต้องการและโครงสร้างเฉพาะขององค์กรคุณ',
          icon: 'tabler:cloud',
        },
        {
          title: 'การพัฒนาโซลูชั่นบน Azure Cloud',
          description:
            'ออกแบบและพัฒนาโซลูชั่นที่ทำงานบน Azure Cloud ด้วยประสิทธิภาพสูง ทั้งนี้ เรามุ่งเน้นให้โซลูชั่นเหล่านั้นมีการบูรณาการที่ลงตัวกับระบบงานอื่นๆ ในองค์กรของคุณ',
          icon: 'tabler:cloud-cog',
        },
        {
          title: 'การให้คำปรึกษาและการจัดอบรม',
          description:
            'เรามีบริการให้คำปรึกษาและคำแนะนำที่เกี่ยวข้องกับการใช้งาน Azure Cloud รวมถึงการจัดอบรมเฉพาะทาง ซึ่งจะช่วยให้ทีมของคุณเข้าใจและใช้ประโยชน์จากคลาวด์ได้อย่างเต็มที่',
          icon: 'tabler:users-group',
        },
        {
          title: 'การดูแลระบบที่ติดตั้งบน Azure Cloud',
          description:
            'บริการดูแลระบบที่ติดตั้งอยู่บน Azure Cloud เพื่อให้มีความมั่นคง และปลอดภัย บริหารค่าใช้จ่ายที่เหมาะสมสำหรับการใช้ Cloud',
          icon: 'tabler:database-import',
        },
      ]}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 animate-on-scroll">
          บริการเกี่ยวกับ Azure Cloud โดยทีมงานมืออาชีพ
        </h3>
        <div class="text-muted text-base my-2 animate-on-scroll">
          บริษัทของเราเป็นผู้นำด้านการให้คำปรึกษาและพัฒนาที่เกี่ยวกับ Azure Cloud
          ด้วยทีมงานที่มีความเชี่ยวชาญและประสบการณ์สูง พร้อมทั้งบริการหลากหลายเพื่อรองรับความต้องการของธุรกิจทุกรูปแบบ
          บริการของเราประกอบด้วย:
        </div>
      </Fragment>
      <Fragment slot="image">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full h-full">
          <Image
            src="~/assets/images/service-azure.webp"
            alt="Azure Cloud"
            class="w-full h-80 md:col-span-2 rounded-lg animate-on-scroll"
          />
          <div class="relative animate-on-scroll">
            <Image src="~/assets/images/ceo.jpeg" alt="ทีมงานมืออาชีพ" class="w-full h-72 rounded-lg" />
            {
              [
                { url: '~/assets/images/devops_engineer.png' },
                { url: '~/assets/images/azure_developer.png' },
                { url: '~/assets/images/azure_fundamentals.png' },
              ].map(({ url }, index) => (
                <div
                  class={twMerge(
                    'absolute bottom-0 right-0 bg-white rounded-l-lg p-2',
                    index === 0
                      ? 'right-0 min-[490px]:right-0 bottom-0'
                      : index === 1
                        ? 'right-0 min-[490px]:right-12 bottom-12 min-[490px]:bottom-0 rounded-none'
                        : 'right-0 min-[490px]:right-24 bottom-24 min-[490px]:bottom-0'
                  )}
                >
                  <div class="w-10 h-10">
                    <Image src={url} alt="trust-cert" class="w-10 h-10 !object-contain" />
                  </div>
                </div>
              ))
            }
          </div>
          <div class="relative animate-on-scroll">
            <Image
              src="~/assets/images/mvp-ponggun.webp"
              alt="ทีมงานมืออาชีพ"
              class="w-full h-72 rounded-lg md:!object-left min-[490px]:!object-top !object-left animate-on-scroll"
            />
            <div class={twMerge('absolute bottom-0 right-0 bg-white rounded-l-lg p-2 min-[490px]:right-0 ')}>
              <div class="w-12 h-12 flex items-center justify-center">
                <Image
                  src={'~/assets/images/mvp-azure.webp'}
                  alt="mvp-azure"
                  class="w-10 h-10 animate-on-scroll !object-contain"
                />
              </div>
            </div>
          </div>
        </div>
      </Fragment>
    </Content>
    <!-- CallToAction Widget *********** -->

    <CallToAction
      actions={[
        {
          variant: 'primary',
          target: '_blank',
          text: 'ติดต่อเรา',
          href: '/contact-us',
        },
      ]}
    >
      <Fragment slot="title">
        <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 py-2 animate-on-scroll">
          พร้อมยกระดับธุรกิจของคุณด้วยเทคโนโลยีที่ทันสมัย
        </h2>
      </Fragment>

      <Fragment slot="subtitle">
        <p class="text-muted md:text-lg my-2 animate-on-scroll">
          ให้เราช่วยคุณพัฒนาระบบที่จะเป็นเครื่องมือสำคัญในการสนับสนุนการเติบโต และความสำเร็จขององค์กรคุณในยุคดิจิทัลนี้
        </p>
      </Fragment>
    </CallToAction>
  </WidgetWrapper>
</Layout>

<style>
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-on-scroll {
    opacity: 0;
    transition:
      opacity 0.6s,
      transform 0.6s;
    transition-delay: calc(var(--animation-order, 0) * 0.1s);
  }
  .animate-on-scroll.show {
    opacity: 1;
    animation: fadeInUp 0.6s ease-out;
  }
</style>

<script>
  function handleIntersection(entries, observer) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
        observer.unobserve(entry.target);
      }
    });
  }

  const observer = new IntersectionObserver(handleIntersection, {
    root: null,
    rootMargin: '0px',
    threshold: 0.1,
  });

  document.addEventListener('astro:page-load', () => {
    const elements = document.querySelectorAll('.animate-on-scroll');
    elements.forEach((el) => observer.observe(el));
  });
</script>
