<!-- From Uiverse.io by Manish-Tamang --> 
<div class="wrapper">
    <input id="tab-1" name="slider" type="radio" />
    <input checked="" id="tab-2" name="slider" type="radio" />
    <input id="tab-3" name="slider" type="radio" />
    <header>
      <label class="tab-1" for="tab-1">Basic</label>
      <label class="tab-2" for="tab-2">Standard</label>
      <label class="tab-3" for="tab-3">Team</label>
      <div class="slider"></div>
    </header>
    <div class="card-area">
      <div class="cards">
        <div class="row row-1">
          <div class="price-details">
            <span class="price">150</span>
            <p>For beginner use</p>
          </div>
          <ul class="features">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
              <span>Unlimited nvme-SSD Storage (5GB) </span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span>FREE 50+ Installation Scripts WordPress Supported</span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span
                >One FREE Domain Registration .com and .np extensions only</span
              >
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span>Unlimited Email Accounts &amp; Databases</span>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="price-details">
            <span class="price">499</span>
            <p>For professional use</p>
          </div>
          <ul class="features">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span>Unlimited GB Premium Bandwidth</span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span>FREE 200+ Installation Scripts WordPress Supported</span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span
                >Five FREE Domain Registration .com and .np extensions only</span
              >
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span>Unlimited Email Accounts &amp; Databases</span>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="price-details">
            <span class="price">1999</span>
            <p>For team collaboration</p>
          </div>
          <ul class="features">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span>200 GB Premium Bandwidth</span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span>FREE 100+ Installation Scripts WordPress Supported</span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span
                >Two FREE Domain Registration .com and .np extensions only</span
              >
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white text-2xs bg-green-500 rounded-full mr-2 p-1"
              >
                <polyline points="20 6 9 17 4 12"></polyline></svg
              ><span>Unlimited Email Accounts &amp; Databases</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button>Choose plan</button>
  </div>
  